<div class="container">
  <div
    style="height: 3rem;box-sizing: border-box;padding: 0.5rem; border-bottom: 1px solid var(--Colors-Border-border-primary, #D0D5DD);">
    <app-header></app-header>
  </div>
  <div class="container1">
    <div class="container-nav">Navigation bar</div>
    <div class="container-content">

      <div class="container-breadcrumb">
        <div class="container-breadcrumb1">BreadCrumb</div>
        <lib-button [variant]="'contained'" [size]="'medium'" [type]="'primary'" [label]="'Create Connection'">
          <mat-icon iconLeft>add</mat-icon>
        </lib-button>
      </div>
      <div>
        <div class="tab-button-group">
          <button mat-button
            [ngStyle]="{ 'background-color': selectedTab === 'manageNode' ? '#FFFFFF' : '#F0F0F0', 'color': selectedTab === 'manageNode' ? '#334053' : '#b0b0b0' }"
            (click)="selectTab('manageNode')">
            Manage Node
          </button>

          <button mat-button
            [ngStyle]="{ 'background-color': selectedTab === 'auditLogs' ? '#FFFFFF' : '#F0F0F0', 'color': selectedTab === 'auditLogs' ? '#334053' : '#b0b0b0' }"
            (click)="selectTab('auditLogs')">
            Audit Logs
          </button>
        </div>


        <div class="tab-content">

          <ng-container *ngIf="selectedTab === 'manageNode'">

            <div class="container-node_header">

              <div class="container-node_header-div">
                <div class="container-node_header1">Manage Nodes</div>
                <div class="container-node_header2">Manage node details—all in one place</div>
              </div>

              <div style="display: flex; gap: 0.5rem;">
                <lib-button [variant]="'destructive'" [size]="'medium'" [type]="'secondary'" [label]="'Delete'">
                </lib-button>
                <lib-button [variant]="'contained'" [size]="'medium'" [type]="'primary'" [label]="'Save'">
                </lib-button>

              </div>
            </div>

            <div class="container-node_details">
              <form [formGroup]="form" class="custom-form">
                <div class="form-group">
                  <label for="nodeName">Node Name <span class="required">*</span></label>
                  <input id="nodeName" type="text" formControlName="nodeName" class="mat-input-element custom-input" />
                </div>

                <div class="form-group">
                  <label for="description">Description (Optional)</label>
                  <textarea id="description" formControlName="description" rows="4"
                    class="mat-input-element custom-input"></textarea>
                </div>

                <div class="form-group">
                  <label for="parentType">Parent Type <span class="required">*</span></label>
                  <mat-select id="parentType" formControlName="parentType" class="custom-select">
                    <mat-option value="Node">Node</mat-option>
                    <mat-option value="Other">Other</mat-option>
                  </mat-select>
                </div>
              </form>


            </div>

          </ng-container>

          <ng-container *ngIf="selectedTab === 'auditLogs'">
            <p style="padding: 20px;">Logs Content</p>
          </ng-container>
        </div>



      </div>
    </div>
  </div>
</div>