<div>
  <h1>Predigle</h1>
  <!-- <lib-top-navbar>
  <img navLogo src="https://storybook.predigle.com/assets/logo.svg" style="width: 6.25rem; height: 1.367rem"
    alt="Logo" />

  <ng-container *ngIf="isAdmin && showHeader" navRightItem>
    <form [formGroup]=" tenantForm">
      <lib-select-dropdown formControlName="tenant" [placeholder]="'Select an option'" [items]="simplifiedData">
      </lib-select-dropdown>
    </form>
  </ng-container>

  <ng-container ProfileSection>
    <div *ngIf="user?.firstName && user?.lastName" style="
        width: 2rem;
        height: 2rem;
        border: 1px solid #06c;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      " alt="profile-picture">
      {{ getUserInitials() }}
    </div>
    <lib-nav-icon [iconUrl]="iconUrl" iconWidth="1.5rem" iconHeight="1.5rem" />
  </ng-container>

  <lib-profile-card ProfileCard theme="light" class="profile-card">
    <div Avatar *ngIf="user?.firstName && user?.lastName" style="
        width: 2.25rem;
        height: 2.25rem;
        border: 1px solid #06c;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      " alt="User Avatar">
      {{ getUserInitials() }}
    </div>
    <ng-container Details>
      <lib-typography size="medium" weight="bold" color="primary">
        {{ user?.firstName + " " + user?.lastName }}
      </lib-typography>
      <lib-typography size="medium" weight="light" color="secondary">
        {{ user?.email }}
      </lib-typography>
    </ng-container>

    <ng-container MenuItems>
      <div menu-item logout (click)="authService.logout()">
        <img src="https://storybook.predigle.com/assets/logout-light.svg" style="height: 1.5rem; width: 1.5rem" />
        <span>Logout</span>
      </div>
    </ng-container>
  </lib-profile-card>
</lib-top-navbar> -->
</div>